*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    /* Header */
        /* Barre de nav */
        nav{
            background-color: rgb(100, 100, 100);
            display: flex;
            flex-direction: row;
            padding : 20px;
            margin: 0;
            justify-content: center;
        }
            /* Liste */
            nav ul{
                display: flex;
                flex-direction: row;
                list-style-type: none;
            }
            /* Liens de la barre de nav */
            nav li a{
                color: white;
                text-decoration: none;
                padding: 10px;
            }
    /* Fin Header */
    /* Body */
        /* Section profil */
            .profil{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                /* height: 100vh; */
                background-color: rgb(255, 88, 22);
                padding: 30px;
            }
                /* Image profil */
                .profil img{
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    background-color: white;
                }
        /* Fin Section Profil */
        /* Section Competences */
                .competences{
                    text-align: center;
                    margin: 10px 0;
                }
                .competences h2{
                    text-align: center;
                    margin: 20px;
                }
                .HTML{
                    border: solid black 5px;
                    padding: 10px;
                    background-color: rgb(255, 88, 22);
                    margin: 0 10px;
                    border-radius: 25%;
                }
                .CSS{
                    border: solid black 5px;
                    padding: 10px;
                    background-color: blue;
                    margin: 0 10px;
                    border-radius: 25%;
                }
                .JS{
                    border: solid black 5px;
                    padding: 10px;
                    background-color: yellow;
                    margin: 0 10px;
                    border-radius: 25%;
                }
                .PHP{
                    border: solid black 5px;
                    padding: 10px;
                    background-color: rgb(173, 209, 251);
                    margin: 0 10px;
                    border-radius: 25%;
                }
                .SQL{
                    border: solid black 5px;
                    padding: 10px;
                    background-color: rgb(30, 84, 176);
                    margin: 0 10px;
                    border-radius: 25%;
                }
                .Bootstrap{
                    border: solid black 5px;
                    padding: 10px;
                    background-color: rgb(164, 69, 254);
                    margin: 0 10px;
                    border-radius: 25%;
                }
                .JQuery{
                    border: solid black 5px;
                    padding: 10px;
                    background-color: rgb(62, 97, 255);
                    margin: 0 10px;
                    border-radius: 25%;
                }
                .Symfony{
                    border: solid black 5px;
                    padding: 10px;
                    background-color: rgb(24, 255, 66);
                    margin: 0 10px;
                    border-radius: 25%;
                }
                .liste_competences{
                    padding: 10px 10px;
                }
                /* div texte */
                .texte{
                    display: flex;
                    margin-top: 20px;
                    justify-content: center;
                    margin-bottom: 30px;
                }
                .conception{
                    border: solid black 5px;
                    padding: 10px;
                    background-color: rgb(84, 194, 249);
                    margin-right: 200px;
                    margin-top: 20px;
                    border-radius: 5%;
                    text-align: left;
                    
                }
                .UI_UX{
                    border: solid black 5px;
                    padding: 10px;
                    background-color: rgb(84, 194, 249);
                    margin: 0 10px;
                    border-radius: 5%;
                    margin-top: 30px;
                    text-align: left;
                }
        /* Fin section competences */
        /* Section projets */
        .projets{
            background-color: rgb(255, 88, 22);
            padding: 30px;
            margin-top: 20px;
        }
        .projets h2{
            text-align: center;
            margin: 0 10px;
        }
        .projets button{
            background-color: black;
            color: white;
            padding: 5px;
            cursor: pointer;
        }
        .cards{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 15px;
        }
        .cards h3{
            text-align: center;
        }
        .projet1_card{
            border: solid black 5px;
            padding: 10px;
            margin-right: 130px;
            background-color: white;
            border-radius: 10%;
            max-width: 250px;
            max-height: 250px;
        }
        
        .projet2_card{
            border: solid black 5px;
            padding: 10px;
            margin-right: 130px;
            background-color: white;
            border-radius: 10%;
            max-width: 250px;
            max-height: 250px;
        }
        .projet3_card{
            border: solid black 5px;
            padding: 10px;
            margin-right: 130px;
            background-color: white;
            border-radius: 10%;
            max-width: 250px;
            max-height: 250px;
        }
        .projet4_card{
            border: solid black 5px;
            padding: 10px;
            margin-right: 130px;
            background-color: white;
            border-radius: 10%;
            max-width: 250px;
            max-height: 250px;
        }
        .projet5_card{
            border: solid black 5px;
            padding: 10px;
            margin-right: 450px;
            margin-top: 23px;
            background-color: white;
            border-radius: 10%;
            max-width: 250px;
            max-height: 250px;
        }
        .projet6_card{
            border: solid black 5px;
            padding: 10px;
            margin-right: 130px;
            margin-top: 23px;
            background-color: white;
            border-radius: 10%;
            max-width: 250px;
            max-height: 250px;
        }



        /* section formulaire */
        .formulaire h3{
            text-align: center;
            padding: 5px;
        }
            form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 20px;
            }
            form div{
                display: flex;
                flex-direction: column;
                margin: 10px;
            }
            textarea {
                width: 250px;  /* Largeur fixe */
                height: 30px; /* Hauteur fixe */
                resize: none;  /* Empêche le redimensionnement */
              }
              input{
                width: 250px;
              }
              #envoie{
                width: 250px;
                margin-top: 10px;
                padding: 5px;
                background-color: black;
                color: white;
                cursor: pointer;
              }
        /* Fin section formulaire */

